@import "../../colors.css";

table{
    text-align:center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
th{
    background-color: var(--primary-color);
}
tr{
    border-bottom: 1px solid #dddddd;
    height: 50px;
}
tr:hover{
    cursor: pointer;
}
tr img{
    width: 30px;
    height: 30px;
}